doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        script(src='https://kit.fontawesome.com/054fdad312.js')
        script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
    body
        nav.navbar.navbar-inverse
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') Shop
                #navbar.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        if user
                            li
                                a(href='/') Home
                        if user
                            li
                                a(href='/shop') Shop
                        if user !== null && user !== undefined && user.admin
                            li
                                a(href='/admin/add') Admin
                    ul.nav.navbar-nav.navbar-right
                        if user
                            li
                                a(href='/users/logout') Logout
                        else
                            li
                                a(href='/users/register') Register
                            li
                                a(href='/users/login') Login
        .container(style='position: relative; top: 80px;')
            != messages('message', locals)
            if errors
                each error, i in errors
                    div(class="alert alert-danger") #{error.msg}
            block content
            br
            hr
            footer
                p Copyright &copy; 2021
        script(src="https://cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js")
        script(src='/javascripts/script.js')
